.sponsors {
  margin-top: 1rem;
  gap: 3.3rem;
  flex-wrap: wrap;
}
.sponsors a {
  filter: grayscale(100%);
}

.sponsors a:hover {
  transition: all 0.5s;
  filter: grayscale(0);
}

.sponsors img {
  height: 40px;
  max-width: 300px;
}
