.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;

  margin-top: 77px;
}

@media (max-width: 50em) {
  .hero {
    grid-template-columns: 1fr;
  }
  .img-container {
    grid-row: 1;
  }
}

.img-container {
  margin: 5rem;
}

.img {
  width: 100%;
}

.text {
  gap: 2rem;
}
