.container {
  box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
  border: 1px solid #dadada;
  border-radius: 6px;

  display: flex;
  flex-direction: column;
  flex: 0 0 50%;
}

.container > div {
  display: flex;
  justify-content: space-between;
  padding: 0.6rem 1rem;
}

.edit {
  justify-content: flex-end !important;
  gap: 0.5rem;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
