.container {
  margin-top: 92px;
  margin-left: 240px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: calc(100% - 92px);
}

.collapsed {
  margin-left: 75px;
}
.content {
  max-width: 1300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: fit-content;
  padding: 40px 20px;
}
