.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(130, 198, 237);
  min-height: 300px;
  gap: 2rem;
  margin: 0 auto;
  width: 100%;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}

.btns button {
  width: 100%;
}

.btn-white {
  background-color: transparent;
  color: black;
  border: 1px solid rgba(56, 56, 56, 0.5);
}

.btn-white:hover {
  border-color: #383838;
  background-color: #7fc0e6;
}
