.content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

@media (max-width: 50em) {
  .content {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .app-play-socials--container {
    grid-row: 1;
    grid-column: span 2;
  }

  .sourceforge-container {
    grid-row: 3;
    grid-column: -2/-1;
  }
}

.link {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
}

.copyright {
  text-align: center;
  margin-top: 3rem;
}

.app-play-socials--container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.social-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1.5rem;
  column-gap: 2.5rem;
}

.social-links img {
  width: 25px;
}

.download {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.download a {
  width: 100%;
}

.download button {
  background-color: #82c6ed;
  border: none;
  border-radius: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
}

.footer {
  margin-bottom: 3rem;
}

.sourceforge-container {
  display: flex;
  flex-direction: column;
  width: 160px;
}

.img {
  width: 100%;
  height: 100%;
}

.sourceforge {
  padding: 1.8rem;
}
