.app {
  display: grid;
  grid-template-columns: 180px 2fr;
  grid-template-rows: 120px 2fr;
}

.app div:last-child {
  grid-row: 2 / -2;
  grid-column: 2 /-2;
}

section {
  margin-bottom: 100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-grey: hsl(0, 0%, 65%);
  --clr-black: hsl(0, 0%, 22%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-milk: hsl(0, 0%, 90%);
}

#root {
  width: 100vw;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #fafafa;
  color: #474747;
}

a {
  text-decoration: none;
  color: #212121;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #101010;
  font-weight: 500;
  line-height: 1.2;
}

h1 {
  font-size: 2.5rem;
}

h4 {
  font-size: 1.25rem;
}

img {
  max-width: 100%;
}

/* Utility classes */

li {
  list-style: none;
}

.container {
  --max-width: 1220px;
  --padding: 1rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

.btn {
  cursor: pointer;
  border: none;
  background-color: #fff;
}

.btn.btn-grey {
  background-color: var(--clr-milk);
  padding: 0.8rem 1.6rem;
  border-radius: 3rem;
}

.btn.btn-black {
  background-color: #323232;
  color: #fff;
  padding: 0.8rem 1.6rem;
  border-radius: 3rem;
}

.btn.btn-black:hover {
  transition: all 0.5s;
  background-color: #252525;
}

.btn.btn-warning {
  border: 1px solid #cf5a68;
  background-color: #f8f8f8;
  color: #cf5a68;
  padding: 0.8rem 1.5rem;
  border-radius: 999px;
}

.btn.btn-transparent {
  background-color: transparent;
  color: black;
  border: 1px solid rgba(56, 56, 56, 0.5);
  border-radius: 3rem;
  padding: 0.8rem 1.6rem;
}

.btn.btn-transparent:hover {
  transition: all 0.5s;
  border-color: #383838;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-col-start-align {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.settings-input {
  width: 100%;
  border-radius: 0.125rem;
  border-width: 0 0 2px 0;
  border-color: black;
  padding: 0.5rem 0.375rem 0.5rem 0.375rem;
  font-size: 1rem;
  outline: none;
}

.input {
  width: 100%;
  border-width: 0 0 2px 0;
  padding: 0.5rem 0.375rem;
  border-color: #000000;
  height: 40px;
  font-size: 1rem;
  line-height: 1.5rem;
  outline: none;
}

.input:focus {
  border-width: 0 0 3px 0;
}

.select {
  width: 100%;
  border-width: 0 0 2px 0;
  border-color: #000000;
  height: 40px;
  font-size: 1rem;
  outline: none;
}

.select:focus {
  border-width: 0 0 4px 0;
}

hr {
  border: 0;
  margin: 2px 0;
}
